<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">Main Page</button>
    </div>

    <div class="info">
        <strong>Author there</strong>
        <small>23.10.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, temporibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, temporibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, temporibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, temporibus!</p>
    </div>
</div>
